# NIST Test PIV Card 4: Digital Signature Certificate (slot 9C)
# PIV Card application PIN: 123456
# Global PIN: 12345678
# Objects signed by: PIV Card Signer (eccp256pivcontentsigner.{pem,key})

[ ca ]
default_ca              = CA_eccp256issuingCA

[ CA_eccp256issuingCA ]
dir                     = ./
certs                   = $dir
crl_dir                 = $dir/eccp256issuing-ca-crl
database                = $dir/eccp256issuing-ca-index.txt
new_certs_dir           = $dir
certificate             = $dir/eccp256issuing-ca.pem
serial                  = $dir/eccp256issuing-ca-serial
crl                     = $dir/eccp256issuing-ca-crl.pem
private_key             = $dir/eccp256issuing-ca.key
RANDFILE                = $dir/.rand
name_opt                = ca_default
cert_opt                = ca_default
default_days            = 7300
# TODO: change to 1 when ready to regenerate CRL every day
 default_crl_days       = 30
default_md              = sha256
preserve                = no
policy                  = policy_match
x509_extensions         = v3_ca

[ policy_match ]
countryName		        = match
stateOrProvinceName	    = match
organizationName	    = match
organizationalUnitName	= optional
commonName		        = supplied
emailAddress		    = optional
subjectAltName          = optional

[ req ]
prompt			    = no
distinguished_name	= client
default_bits		= 2048
input_password		= whatever
output_password		= whatever
req_extensions      = v3_req

[client]
countryName		    = US
stateOrProvinceName	= New York
localityName		= New York
organizationName	= Initech Inc.
emailAddress		= test-ecc-1-9c@myorg.com
commonName	  	    = test-ecc-1-9c@myorg.com

[v3_ca]
authorityKeyIdentifier  = keyid:always

subjectKeyIdentifier    = hash
crlDistributionPoints   = URI:http://crl.myorg.com/ECCP-256CA.crl

authorityInfoAccess     = caIssuers;URI:http://certs.myorg.com/CACertsIssuedToECCP-256CA.p7c

keyUsage                = critical,digitalSignature,nonRepudiation
# PIV: authentication cert (slot 9A).....: 2.16.840.1.101.3.2.1.3.13
#
# PIV: card authentication cert (slot 9E): 2.16.840.1.101.3.2.1.3.17
# PIV: content signing cert (slot 9C)....: 2.16.840.1.101.3.2.1.3.8 (or is it 2.16.840.1.101.3.2.1.3.7?  NIST test cards have .7 but not .8)
# PIV: CHUID: federal agency code in the FASC-N
#
# PIV-I: authentication cert (slot 9A).....: 2.16.840.1.101.3.2.1.3.18
# PIV-I: card authentication cert (slot 9E): 2.16.840.1.101.3.2.1.3.19
# PIV-I: content signing cert (slot 9C)....: 2.16.840.1.101.3.2.1.3.20
# PIV-I: CHUID: 14 nines (99999999999999) in the FASC-N
certificatePolicies     = 2.16.840.1.101.3.2.1.3.20

subjectAltName          = email:test-ecc-1-9c@myorg.com

[v3_req]
