# NIST PIV Content Signer 3
# Signs objects on cards:
# 1. CHUID
# 2. Cardholder Fingerprints
# 3. Security Object
# 4. Cardholder Facial Image
#

[ ca ]
default_ca              = CA_eccp256issuingCA

[ CA_eccp256issuingCA ]
dir                     = ./
certs                   = $dir
crl_dir                 = $dir/eccp256issuing-ca-crl
database                = $dir/eccp256issuing-ca-index.txt
new_certs_dir           = $dir
certificate             = $dir/eccp256issuing-ca.pem
serial                  = $dir/eccp256issuing-ca-serial
crl                     = $dir/eccp256issuing-ca-crl.pem
private_key             = $dir/eccp256issuing-ca.key
RANDFILE                = $dir/.rand
name_opt                = ca_default
cert_opt                = ca_default
default_days            = 7300
# TODO: change to 1 when ready to regenerate CRL every day
 default_crl_days       = 30
default_md              = sha256
preserve                = no
policy                  = policy_match
x509_extensions         = v3_ca

[ policy_match ]
countryName		        = match
stateOrProvinceName	    = match
organizationName	    = match
organizationalUnitName	= optional
commonName		        = supplied
emailAddress		    = optional
subjectAltName          = optional

[ req ]
prompt			    = no
distinguished_name	= client
default_bits		= 2048
input_password		= whatever
output_password		= whatever
req_extensions      = v3_req

[client]
countryName		    = US
stateOrProvinceName	= New York
localityName		= New York
organizationName	= Initech Inc.
#emailAddress		= test-ecc-1-9e@myorg.com
commonName	  	    = piv-content-signer@myorg.com

[v3_ca]
authorityKeyIdentifier  = keyid:always

subjectKeyIdentifier    = hash
crlDistributionPoints   = URI:http://crl.myorg.com/ECCP-256CA.crl

authorityInfoAccess     = caIssuers;URI:http://certs.myorg.com/CACertsIssuedToECCP-256CA.p7c

keyUsage                = critical,digitalSignature
extendedKeyUsage        = 2.16.840.1.101.3.6.7
# PIV: authentication cert (slot 9A).....: 2.16.840.1.101.3.2.1.3.13
# PIV: card authentication cert (slot 9E): 2.16.840.1.101.3.2.1.3.17
# PIV: content signing cert (slot 9C)....: 2.16.840.1.101.3.2.1.3.8
# PIV: CHUID: federal agency code in the FASC-N
#
# PIV-I: authentication cert (slot 9A).....: 2.16.840.1.101.3.2.1.3.18
# PIV-I: card authentication cert (slot 9E): 2.16.840.1.101.3.2.1.3.19
# PIV-I: content signing cert (slot 9C)....: 2.16.840.1.101.3.2.1.3.20
# PIV-I: CHUID: 14 nines (99999999999999) in the FASC-N
certificatePolicies     = 2.16.840.1.101.3.2.1.3.20
# PIV: id-piv-NACI aka id-piv-interim is 2.16.840.1.101.3.6.9.1 according to
# https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNP2AAO&field=File__Body__s
# however it is 2.16.840.1.101.3.6.10.1 according ot FIPS 201-2, appendix B.2
# This is a background investigation indicator.
# see FIPS 201-2, appendix B.2
# TRUE if, at the time of credential issuance, (1) the FBI National
#      Criminal History Fingerprint Check has completed successfully,
#      and (2) a NACI has been initiated but not completed
# FALSE if, at the time of credential issuance, the subject's NACI has
#       been completed and successfully adjudicated.
#2.16.840.1.101.3.6.9.1  = ASN1:BOOLEAN:FALSE
# TODO: change to non hard coded GUID once testing complete
#subjectAltName          = otherName:msUPN;UTF8:DOMAIN\test-ecc-1-9e,URI:urn:uuid:$ENV::OPENSSL_PIV_GUID
#subjectAltName          = otherName:msUPN;UTF8:DOMAIN\test-ecc-1-9e,URI:urn:uuid:d18b1e0d-3938-4601-9f5f-b9a6d0442e4d

[v3_req]
